/* comentario */

/* FORMATAÇÃO DA MINHA PÁGINA  */

@import url('https://fonts.googleapis.com/css2?family=Bitcount+Prop+Single:wght@100..900&family=Jim+Nightshade&family=Michroma&display=swap');

*{
    /* isso afeta todo o site */
    box-sizing: border-box;
}
body{
    margin: 0;
    background-image: linear-gradient(to right, #14ccfe, #096bce);
    padding: 0;
    font-family: Michroma;
    color: #F0FFFF;
    /* cor da fonte */
}
.cabecalho{
    background-color: #318ce756;
    padding: 20px 40px;
    /* aumenta o FUNDO, o ESPAÇAMENTO */
    display: flex;
    /* faz com que cada um fique do lado do outro */
    justify-content: space-between;
    /* coloca cada filho separado */
    align-items: center;
    border-bottom: 1px solid #007FFF;
    /* fazendo uma linha inferior */
    backdrop-filter: blur(5000px);
    /* isso é um filtro pra embaçar pq eu quero botar umas img de fundo */
}

.logo{
    font-size: 24px;
    font-weight: bold;
    /* definindo a espessura em negrito */
    color: aqua;
    position: relative;
    margin-right: 300px;
    /* right: -25%; */

}
.menu{
    margin-left: 180px;
    position: relative;
}
.menu a{
    /* formatando todos os "a"s dentro da classe menu*/
    color: #90e0ef;
    text-decoration: none;
    /* tirando aquela linha que fica debaixo do link */
    margin-left: 30px;
    /* desgrudando ele do canto esquerdo */
    font-weight: bold;
    transition: color 0.6s ease;
    /* nao sei pq ta ficando embaixo */
}
.menu a:hover{
    color: #0033ff;
}
.container{
    max-width: 1200px;
    /* largura maxima da tela */
    /* ele vai ter um limite de tamanho independente da tela */
    margin: 40px auto;
    /* margem */
    /* o "auto" significa que a direita e a esquerda ainda fica "grudado na imagem" */
    /* aparentemente ele só fica mais grudado pra esquerda msm*/
    /* as coisad que estao la dentro nao vao ficar colados na borda */
    padding: 0 20px;
    /* "margem interna" */
    /* a separação da margem */

}
.titulo-secao{
    font-size: 37px;
    margin-bottom: 5px;
    color: #FEFEFA;
    text-align: center;
}
.subtitulo{
    color: #F8F8FF;
    font-size: 20px;
    margin-bottom: 30px;
    /* afasta as imagens */
    text-align: center;
}
.grade-filmes{
    display: grid;
    /* vai organizar todos os elementos (filhos) em linhas e colunas  */
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    /* pra deixar tudo na horizontal */
    gap: 25px;
}
.card-filme{
    background-color: #00BFFF;
    border-radius: 10px;
    /* Fazendo borda no paranaue em volta da imagem */
    overflow: hidden;
    transition: color 0.6s ease;
    box-shadow: 0 4px 12px #00BFFF;
    display: flex;
    flex-direction: column;
    /* muda o eixo (dispkay flex -> texto some. flex-direction column -> texto volta) */

    transition: transform 0.8s ease;
}
.card-filme:hover{
    transform: translateY(-100px);
    transition: color 1s ease;
    box-shadow: 0 30px 70px #d1d8da;
    
}
.poster{
    width: 100%;
    height: 320px;
    object-fit: cover;
    /* garante que todas as imagens fiquem com a altura perfeita */
}
img{
    width: 300px;
    border-radius: 10px;
    height: 400px;
}
.conteudo-filme{
    padding: 20px;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    /* estica verticalmente eempurra o botao para base */
}
.genero{
    font-size: 12px;
    color: #318CE7;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 5px;
}
.nome-filme{
    margin: 5px 0 10px 0;
}
.sinopse{
    font-size: 14px;
    color: #F8F8FF;
    line-height: 1.4;
    margin-bottom: 15px;
    flex-grow: 1;
}
.sessoes{
    font-size: 12px;
    margin-bottom: 20px;
}
.horario{
    display: inline-block;
    background-color: #0083af;
    border-radius: 4px;
    padding: 4px 8px;
    margin-left: 4px;
    color: #F0FFFF;
    font-weight: bold;
}
.botao-comprar{
    display: block;
    margin-top: 10px;
    /* pra afastar de cima */
    text-align: center;
    background-color: #2889f8;
    color: #F8F8FF;
    padding: 12px 0;
    border-radius: 6px;
    text-decoration: none;
    font-weight: bold;
}
.botao-comprar:hover{
    background-color: #0033ff;
    transition: 0.5s;
}   
.areaInscricao{
    display: flex;
    gap: 30px;
    /* espaçamento */
}
.colunaForm{
    flex: 1;
    /* faz o form crescer proporcionalmente */
    min-width: 320px;
    background-color: #2b3032;
    padding: 30px;
    /* INTERNA */
    border-radius: 10px;
    /* pra arredondar os cantos */
    box-shadow: 0 4px 12px #096bce;
}
.colunaMidia{
    flex: 1;
    min-width: 320px;
    display: flex;
    gap: 20px;
    flex-direction: column;
}
.colunaForm label{
    font-size: 14px;
    font-weight: bold;
    color: #d1d8da;
}
.colunaForm input[type="text"],
.colunaForm input[type="password"],
.colunaForm input[type="email"],
.colunaForm input[type="date"],
.colunaForm input::placeholder,
.colunaForm textarea,
.colunaForm select{
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 15px;
    background-color: #7a7e7f;
    color: #d1d8da;
    border-radius: 5px;
    font-size: 14px;
}

.btnEnviar{
    background-color: rgb(0, 85, 255);
    color: cornsilk;
    border: none;
    padding: 12px 24px;
    border-radius: 6px;
    font-weight: bold;
    cursor: pointer;
    /* mudando o simbolo do mouse */
}
.btnLimpar{
    background-color: rgb(0, 85, 255);
    color: cornsilk;
    border: none;
    padding: 12px 24px;
    border-radius: 6px;
    font-weight: bold;
    cursor: pointer;
    /* mudando o simbolo do mouse */
}
.btnEnviar:hover, .btnLimpar:hover{
    transition: 0.3s ease-in;
    /* A TRANSIÇÃO EU PESQUISEI, NN É IA  */
    background-color: #00BFFF;
}

.vaiProFundo{
    width: 100%;
    height: 100%;
}
.menu .selecionado{
    color: #4545f6
}
.containerAssentos{
    cursor: default;
}
.linha{
    text-align: center;
    margin-bottom: 15px;
}
.assento{
    width: 30px;
    height: 30px;
    border-radius: 10px;
    background-color: #14ccfe;
}
.assento:hover{
    background-color: #2889f8;
    transition: 0.3s;
    cursor: pointer;
}
h2{
    text-align: center;
}
.tabelaPrecos{
    display: flex;
    flex-direction: column;
    width: 1000px;
    margin: 0 auto;
    margin-top: 40px;
}